.country{
  background-color: antiquewhite;
  margin: 30px;
  border: 3px solid goldenrod;
  border-radius: 10px;
  padding: 10px;
}
.country img{
  width: 150px;
  border-radius: 10px;
}

.a-style{
  text-decoration: none;
}